@tailwind base;
@layer base {
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url(/fonts/inter-var-latin.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153,
      U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
      U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
      U+FEFF, U+FFFD;
  }

  #__next {
    @media (min-width: 1024px) {
      max-width: 2780px;
    }
    @apply mx-auto overflow-x-hidden;
    height: 100%;
    max-width: 100vw;
    min-height: 100vh;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  /* Remove Safari input shadow on mobile */
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="url"] {
    --webkit-appearance: none;
    --moz-appearance: none;
    appearance: none;
  }

  html {
    height: 100%;
    box-sizing: border-box;
    touch-action: manipulation;
    font-feature-settings: "case" 1, "rlig" 1, "calt" 0;
    text-rendering: optimizeLegibility;
    --webkit-font-smoothing: antialiased;
    --webkit-tap-highlight-color: transparent;
    --moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;

    /* -webkit-text-size-adjust: none; */
    /* text-size-adjust: none; */
  }

  html,
  body {
    font-family: var(--font-sans);
    text-rendering: optimizeLegibility;
    --webkit-font-smoothing: antialiased;
    --moz-osx-font-smoothing: grayscale;
    color: #424242;
    overscroll-behavior-x: auto;
  }

  body {
    position: relative;
    min-height: 100%;
    margin: 0;
    scrollbar-width: 10px;
    scrollbar-color: #126fe2 #03c9e6; /* scroll thumb and track */
  }
  body.loading * {
    transition: none !important;
  }

  body::--webkit-scrollbar {
    display: thin; /* Hide scrollbar for Chrome, Safari and Opera https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
    width: 10px;
  }

  body::--webkit-scrollbar-track {
    background: black; /* color of the tracking area */
  }

  body::--webkit-scrollbar-thumb {
    background-color: #126fe2; /* color of the scroll thumb */
    border-radius: 0px; /* roundness of the scroll thumb */
    border: 3px white; /* creates padding around scroll thumb */
  }

  a {
    --webkit-tap-highlight-color: hsla(0, 0%, 0%, 0);
  }

  pre::--webkit-scrollbar {
    display: none;
  }

  pre {
    --ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Start purging... */
@tailwind components;
@layer components {
  .fit {
    min-height: calc(100vh - 88px);
  }

  .prose *:hover > a {
    @apply visible no-underline;
  }
  .prose .anchor:after {
    @apply bg-clip-text;
    content: "#";
  }
  .prose > :first-child {
    /* Override removing top margin, causing layout shift */
    @apply my-1.5 !important;
  }

  .animated {
    --webkit-animation-duration: 1s;
    animation-duration: 1s;
    --webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .fadeIn {
    --webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }

  .lineClampCustom p:nth-child(n) {
    overflow: hidden !important;
    overflow-y: hidden !important;
    display: -webkit-box !important;
    --webkit-box-orient: vertical !important;
    --webkit-line-clamp: 4 !important;
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}
/* Stop purging. */

/* Start purging... */
@tailwind utilities;
@layer utilities {
  .skeleton {
    display: block;
    width: 100%;
    border-radius: 5px;

    background-image: linear-gradient(
      270deg,
      #141415,
      #28282a,
      #28282a,
      #141415
    );
    background-size: 400% 100%;
    animation: loading 8s ease-in-out infinite;
  }

  @keyframes loading {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
  .landing-page-pagination-btn {
    @apply sm:m-3 m-4 relative inline-flex items-center px-4 py-2 border-blue-800 text-sm font-medium rounded-md text-gray-50 bg-basicallyBlack hover:bg-iconGray;
  }

  .tooltip {
    @apply invisible absolute origin-bottom  transition-transform ease-in-out duration-150 transform-gpu;
  }

  .has-tooltip:hover .tooltip {
    @apply visible z-[150] border-collapse rounded-lg mt-2 bg-opacity-75 text-xxs text-gray-800 my-auto p-2 font-medium;
  }
  #floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    line-height: 30px;
    padding-left: 10px;
  }

  #floating-panel div {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    width: 350px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
  }

  #latlng {
    width: 225px;
  }

  /* Make clicks pass-through */
  #nprogress {
    @apply pointer-events-none;
  }

  #nprogress .bar {
    @apply bg-[#e63946] fixed z-[150] top-0 left-0 w-full h-[5px];
  }

  #nprogress .peg {
    @apply block absolute right-0 w-[100px] h-full opacity-100 rotate-[3deg];
    box-shadow: 0 0 10px #e63946, 0 0 5px #e63946;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
  }

  /* Remove these to get rid of the spinner */
  #nprogress .spinner {
    @apply block fixed z-[150] top-[15px] right-[15px];
  }

  #nprogress .spinner-icon {
    @apply w-[18px] h-[18px] box-border border-solid border-[2px] border-transparent border-t-[#e63946] border-l-[#e63946];
    border-radius: 50%;
    -webkit-animation: nprogress-spinner 400ms linear
      infinite;
    animation: nprogress-spinner 400ms linear infinite;
  }

  .nprogress-custom-parent {
    @apply overflow-hidden relative;
  }

  .nprogress-custom-parent #nprogress .spinner,
  .nprogress-custom-parent #nprogress .bar {
    @apply absolute;
  }

  @-webkit-keyframes nprogress-spinner {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes nprogress-spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
